.mainbox {
    height: 80vh;
}

.mainContainer {
    position: relative;
    width: 50%;
    height: 100%;
    left: 50%;
}

.main-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 100% auto;
    transition: background-image 1s ease-in-out; /* เพิ่ม transition */
    transition-delay: 2s;
  }

body {
    background: #7FDBDA;
}

.center-content {
    background-color: #ADE498;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
}

.change-page-button {
    background-color: #EDE682;
    width: 100%;
    right: 0;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.change-page-button:hover {
    background-color: #e4d942;
}

.logout-button {
    background-color: #D96464;
    color: white;
}

.logout-button:hover {
    background-color: #cc3232;
}
